@font-face {
    font-family: 'Montserrat';
    src: url('./media/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;

}

body {
    position: relative;
    color: #ffff;
}

.loading-cont {
    width: 100vw;
    height: 100vh;
    background: rgb(173, 173, 173);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 1;
}

.loading-cont img {
    width: 20px;
    height: 20px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.5s
}

.main-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    /* background-image: url('./media/sunset.jpg');
    background-size: cover;
    background-position: center; */
    /* filter: brightness(50%); */
    background: #737373;
    padding: 20px;
    /* z-index: -1; */
}

/* .main-cont::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: brightness(70%);
    z-index: -1;
} */

section.current-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.general-info * {
    margin-bottom: 5px;
}

.conditions-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.specific-info p {
 margin-bottom: 5px;
}

.specific-info .sunset {
    padding-bottom: 8px;
    border-bottom: 1.5px solid gray;
    margin-bottom: 0;
}

.specific-info .rain {
    padding-top: 8px;
}

.general-info, .specific-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-info .condition {
    font-size: 1.5rem;
}

.general-info .location {
    font-size: 1.1rem;
}

.general-info .temp {
    font-size: 2.8rem;
    font-weight: 500;
}

.high-low .high {
    padding-right: 5px;
    border-right: 1.5px solid gray;
}

.high-low .low {
    padding-left: 5px;
    margin-left: -5px;
}

.search-cont {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.search-cont input {
    border: none;
    outline: none;
    color: #5b5b5b;
    height: 25px;
    padding: 5px 10px;
    border-radius: 25px;
}

.search-bttn {
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: flex-end;
}

.options .temp-scale {
    cursor: pointer;
    margin-right: 5px;
}


/* FORECAST SECTION */

.forecast-main-cont {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
    margin-top: 25px;
    color: #5b5b5b;
}

.forecast-cont {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex: 1;
    border-radius: 15px;
    padding: 20px;
}

.heading-cont {
    display: flex;
}

.forecast-heading  {
    font-size: 1.4rem;
    padding-bottom: 3px;
    border-bottom: 1.5px solid gray;
}

.daily-cont .day-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 8px;
    border-bottom: 1.5px solid gray;
}

.daily-cont .day-cont .high-low {
    justify-self: center;
}

.day-cont .high-low .low {
    padding-left: 10px;
}

.icon {
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    justify-self: flex-end;
}

/* HOURLY */

.hourly-day-cont {
    border: 1.5px solid gray;
    position: relative;
    margin-top: 25px;
    /* display: flex; */
    /* overflow: visible; */
    /* gap: 20px; */
    /* flex: 0; */
    width: 45vw;
}

.overflow-cont {
    /* position: relative; */
    /* z-index: 5; */
    padding: 0 10px;
    display: flex;
    gap: 25px;
    max-width: 100%;
    overflow: scroll;
}

.hourly-day-cont .day {
    position: absolute;
    top: -10px;
    left: 5px;
    background-color: #fff;
    padding: 0 5px;
}

.hour-cont {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

/* ICONS */
.fa-sun {
    font-size: 20px;
}

.fa-magnifying-glass {
    font-size: 20px;
}